<h3>Mongo Scraper</h3>

<a href="/scrape" class="btn">Scrape</a>
<a href="/clear" class="btn">Clear</a>

{{#each articles}}
<p>Title: {{this.title}}</p>
<p>Link: {{this.link}} </p>
<p>Author: {{this.author}}</p>
{{/each}}
